<div class="comments">
    {{#each this}}
    <div class="comment">
        <div>
            {{user.username}} {{format_date created_at}}
        </div>
        <p>
            {{text}}
        </p>
    </div>
    {{/each}}
</div>