<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel='stylesheet' href="/css/style.css">
</head>

<body>
    <header class="hero">
        <nav>
            <a href="">Home</a>
            <a href="">Dashboard</a>
            <a href="">Logout</a>
        </nav>
        <h1>
            <a href="/">The Tech Blog</a>
        </h1>
    </header>
    <main>

    </main>
</body>

</html>