<section>
    <h2>Create New Post</h2>
    <form class="create-post-form">
        <div class="post">
            <div class="post-title">
                <input class="w-100" type="text" id="post-title" name="post-title" placeholder="Title" />
            </div>
            <div class="post-body">
                <input class="w-100" type="text" id="post-text" name="post-text" placeholder="Text" />
                <button class="w-100" type="submit">Post</button>
            </div>
        </div>
    </form>
</section>

{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <a href="/dashboard/edit/{{post.id}}">
            <li>
                {{>post-info post}}
            </li>
        </a>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>