<section>
    <ol>
        {{#each posts as |post|}}
        <a href="/post/{{post.id}}">
            <li>
                {{>post-info post}}
            </li>
        </a>
        {{/each}}
    </ol>
</section>