:root {
  --primary: #14213d;
  --secondary: #fca311;
  --tertiary: #e5e5e5;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  background-color: var(--tertiary);
  margin: 0;
  padding: 0;
}

section {
  margin: 0 30vw;
  border-bottom: solid 1px var(--primary);
}

h1 {
  font-size: 2.5em;
  margin: 0;
}

nav {
  margin: auto 0;
}

form {
  margin: 2vh 0;
}

form > div {
  display: flex;
  flex-direction: column;
  margin: 1vw 0;
}

form button {
  align-self: center;
}

textarea,
input {
  padding: 1%;
  margin: 1% 0;
  border-radius: 5px;
  border: 1px solid var(--primary);
}

button {
  font-size: 1.25em;
  font-weight: bold;
  max-width: 10vw;
  padding: .5vw;
  border-radius: 5px;
  color: var(--secondary);
  background-color: var(--primary);
}

ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary);
}

p {
  margin: 0;
}

.hero {
  display: flex;
  justify-content: space-between;
  color: var(--secondary);
  background-color: var(--primary);
  padding: 2% 4%;
}

.hero button {
  padding: 0;
}

.hero a {
  margin: 0 1vw;
  font-size: 1.25em;
  font-weight: bold;
  color: var(--secondary);
}

.app-title {
  color: var(--secondary);
  padding: 5px;
  background: var(--primary);
  border: 1px solid var(--secondary);
  border-radius: 5px;
  box-shadow: 5px 5px var(--secondary);
}

#logout {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0 1vw;
  background: none;
  border: 0;
  cursor: pointer;
}

.post {
  margin: 2% 0;
  border: 1px solid var(--primary);
  border-radius: 5px;
}

.post-title {
  margin: 0;
  padding: 1vh 1vw;
  background: var(--primary);
  color: var(--secondary);
}

.post h3 {
  margin: 0;
  font-size: 1.25em;
}

.post-body {
  padding: 0 1vw;
}

.post-text {
  margin: 2vh 0;
}

.meta {
  display: flex;
  justify-content: space-between;
  text-align: end;
  color: grey;
  padding: 0.5vh 0;
  border-top: 1px solid var(--primary);
}
